@use '../../../../styles/variables' as *;

.container {
    padding-top: 100px;
    max-width: 564px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .brand {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70px;
        gap: 10px;

        .brandTitle {
            font-family: 'KBLJump', sans-serif;
            font-size: 67px;

            .brandTitle1 {
                color: $white
            }

            ;

            .brandTitle2 {
                color: $point
            }

            ;
        }

        .brandDescription {
            font-size: 24px;
            color: $white;
        }
    }


    .loginForm {
        display: flex;
        flex-direction: column;
        gap:30px;


        .inputGroup {
            display: flex;
            flex-direction: column;
            gap: 50px;
            .box {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .boxTitle {}

                .boxText {
                    width: 100%;
                    height: 60px;
                    background: $box;
                    border: 1px solid $box-border;
                    border-radius: 10px;
                    padding: 0 24px;
                    color: $white;
                    font-size: 18px;
                    line-height: 1.2;
                    outline: none;

                    &::placeholder {
                        color: $grey3;
                    }
                }

                .passWord {
                    position: relative;

                    .boxText {
                        padding-right: 56px;
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        right: 24px;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }
                }
            }
        }

        .errorText {
            margin: 0;
            margin-top: -40px;
            font-size: 14px;
            color: #E55C5C;
        }

        .loginBtn {
            width: 100%;
            height: 60px;
            background: $point;
            border: none;
            border-radius: 10px;
            color: #000;
            font-size: 16px;
            cursor: pointer;

            &:disabled {
                opacity: 0.6;
                cursor: not-allowed;
            }
        }
    }

    .divider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
        margin: 30px 0;

        .dividerLine {
            display: block;
            flex: 1;
            height: 1px;
            background: $grey3;
        }

        .dividerText {
            font-size: 16px;
            color: $grey3;
        }
    }


    .socialLoginBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-bottom: 36px;
        
        .kakao,
        .naver {
            img {
                border-radius: 7px;
                display: block;
                width: 100%;
                height: auto;
            }
        }
    }

    .signupPrompt {
        display: flex;
        justify-content: center;
        font-size: 16px;
        gap:6px;

        .signupText {
            color: $grey1;
        }

        .signupLink {
            color: $point;
        }
    }
}